RewriteRule ^(/)?$ view/index/index.php?view=all

RewriteRule ^scripts/(.*)\.js$ view/scripts/$1.js [L]
RewriteRule ^styles/(.*)\.css$ view/styles/$1.css [L]
RewriteRule ^images/(.*)\.(png|jpg)$ view/images/$1.$2 [L]

RewriteRule ^login/$ view/admin/login.php?view=login [L]
RewriteRule ^login/r/([0-9]*)$ view/admin/login.php?view=login&r=$1 [L]
RewriteRule ^login/(.*)$ view/admin/$1.php [L]

RewriteRule ^articles/([0-9]*)/$ view/index/bbs.php?view=single&id=$1 [L]
RewriteRule ^articles/([0-9]*)/login$ view/index/bbs.php [L]
RewriteRule ^articles/([0-9]*)/r/([0-9]*)$ view/index/bbs.php?view=single&id=$1&r=$2 [L]
RewriteRule ^articles/([0-9]*)/page/(.*)/$ view/index/bbs.php?view=single&id=$1&page=$2 [L]