<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <div>
            <div>

                <!-- Start Sign In Form -->
                <form action="../../controller/admin/login.php"method="POST" id="login">
                    <h2>登录</h2>
                    <div>
                        <input type="hidden" id="userid" name="userid" value="" />
                        <input type="hidden" id="token" name="token" value="" />
                        <label for="username">用户名</label>
                        <input type="text" name="username" placeholder="用户名" autocomplete="off">
                    </div>
                    <div>
                        <label for="password">密码</label>
                        <input type="password" name="password" id="password" placeholder="密码" autocomplete="off">
                    </div>
                    <div>
                        <input type="submit" value="提交">
                    </div>
                </form>
                <!-- END Sign In Form -->

            </div>
        </div>
    </div>
</body>

</html>