<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <link href="../styles/normalize.css" rel="stylesheet" type="text/css">
    <link href="../styles/bbs.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.font.im/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <title>篮球世界</title>
</head>

<body>
    <script src="../scripts/bbs.js">
    </script>
    <header>
        <!-- 本站所有网页的统一主标题 -->
        <img src="../images/beach-ball.png">
        <h1 class="siteWorld">欢迎来到<strong>篮球世界</strong></h1>
        <img src="../images/beach-ball.png">
    </header>

    <nav>
        <!-- 本站所有网页的统一主标题 -->
        <ul class="menu-list">
            <li><a href="../../index.html">主页</a></li>
            <li><a href="#">留言板</a></li>
            <!-- 共n个导航栏项目，省略…… -->
        </ul>
    </nav>

    <main>
        <section>
            <div>
                <h1 class="art_title" id=""></h1>
                <article class="art_text">
                    <p></p>
                </article>
            </div>
        </section>
        <section class="comment">
            <h3 class="comment_count_info">
                <div class="comment_title">
                    <span>全部评论</span>
                    <span class="comment_count">1</span>
                </div>
            </h3>
            <div class="user_comment">
                <div class="user_info" id="comment-1">
                    <img class="img_user" id="img-user"
                        src="//upload.jianshu.io/users/upload_avatars/2571348/ca2d531d-05db-4172-817d-582436cf6ea1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/80/h/80/format/webp"
                        alt="">
                    <div class="user">
                        <div class="name" id="username">
                            篮筐里的球
                        </div>
                        <div class="comment_info">
                            <span>2楼 </span>
                            <time>2016.08.03 23:49</time>
                        </div>
                        <div class="comment_text" id="msg">波士顿的小托马斯也很励志</div>
                    </div>
                </div>
            </div>
            <div id="comment-pages">
                <div class="first" id="home">首页</div>
                <div class="first" id="before">上一页</div>
                <div id="number">

                </div>
                <div class="first" id="next">下一页</div>
                <div class="first" id="last">尾页</div>
                <div class="current"></div>
            </div>
        </section>
        <section id="bbsForm">
            <!-- 此处包含一个 article（一篇文章），内容略…… -->
            <form id="commentForm">
                <div>
                    <label for="name">昵称:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="msg">留言内容:</label>
                    <textarea id="msg" name="msg" required></textarea>
                </div>
                <div>
                    <input id="submit" type="submit">
                    <!-- <button id="submit" onclick="sendData()">提交</button> -->
                </div>
            </form>
        </section>
    </main>

    <footer>
        <!-- 本站所有网页的统一页脚 -->
        <p>© 2050 某某保留所有权利</p>
    </footer>

    <script src="../scripts/bbs_submit.js"></script>
</body>

</html>